<template>
	<div>
		<ui-toolbar title="RBot" nav-icon="">
			<div slot="actions">
				<ui-icon-button
						color="black"
						icon="refresh"
						size="large"
						type="secondary">
				</ui-icon-button>
				<ui-icon-button
						color="black"
						size="large"
						type="secondary">
				</ui-icon-button>
			</div>
		</ui-toolbar>
		<ui-tabs
				background-color="primary"
				fullwidth
				indicator-color="white"
				text-color-active="white"
				text-color="white"
				type="text">

			<ui-tab title="Commands" icon="book">
				<commands-component></commands-component>
			</ui-tab>

			<ui-tab title="Click" icon="people">
				<click-component></click-component>
			</ui-tab>
		</ui-tabs>
	</div>
</template>

<script>
	import ClickComponent from "../components/ClickComponent"
	import CommandsComponent from "../components/CommandsComponent"

	export default {
		name: "MainPage",
		components: {CommandsComponent, ClickComponent}
	}
</script>

<style scoped>

</style>⏎