<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>RBot</title>

	<link rel="stylesheet" th:href="@{/assets/app.css}">
	<script th:src="@{/assets/app.js}" defer></script>
</head>
<body>
<div id="app">
	<router-view></router-view>
</div>
</body>
</html>